h1 UserLogin
h3 RegisterFromEmail
form(action='/registerFromEmail', method='post')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | mobile :
    input(type='text', name='mobile')
    | user_type :
    input(type='text', name='user_type')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 EmailLogin
form(action='/emailLogin', method='post')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | user_type :
    input(type='text', name='user_type')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 userLogout
form(action='/userLogout', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')